/* Tu estilo CSS aquí */

 
      

  #main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
    }

    #image-container {
      width: 767px;
      height: 1000px;
      border: 2px solid #333;
      overflow: hidden;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #image {
      max-width: 100%;
      max-height: 100%;
    }

    #loading-indicator {
      display: none;
    }

    #button-container {
      margin-top: 20px;
      text-align: center;
    }

    .btn {
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin: 5px;
      width: auto;
      transition: background-color 0.3s, color 0.3s;
    }
      #prevBtn, #nextBtn {
        background-color: #3498db; /* Color azul */
        color: #fff;
      }

      #prevBtn:hover, #nextBtn:hover {
        background-color: #2980b9;
      }

      #startBtn, #endBtn {
        background-color: #27ae60; /* Color verde */
        color: #fff;
      }

      #startBtn:hover, #endBtn:hover {
        background-color: #2ecc71;
      }
      
      #generatePdfBtn {
        background-color: #e74c3c; /* Color rojo */
        color: #fff;
      }

      #generatePdfBtn:hover {
        background-color: #c0392b;
      }

      #favoriteBtn {
        background-color: #f0f0f0; /* Color gris claro */
        color: #e74c3c; /* Color rojo */
      }

      #favoriteBtn.favorite {
        background-color: #e74c3c;
        color: #fff;
      }

      #image-count {
        margin-top: 10px;
        font-size: 16px;
        color: #666;
      }

      #favorites-count {
        margin-top: 10px;
        font-size: 16px;
        color: #666;
        display: flex;
        align-items: center;
      }

      #favorites-icon {
        margin-right: 5px;
        color: #e74c3c; /* Color rojo */
      }

      #error-message {
        display: none;
        margin-top: 10px;
        font-size: 16px;
        color: red;
      }
         @media screen and (max-width: 1200px) {
      /* Estilos para dispositivos móviles */
      #image-container {
        max-width: 100%;
        height: auto;
        border: 2px solid #333;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
       @media screen and (max-width: 767px) {
      /* Estilos para dispositivos móviles */
      #image-container {
        max-width: 100%;
        height: auto;
        border: 2px solid #333;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
