    /* Estilos para el contenedor */
    .center-maxdesdes {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Ajusta la altura como prefieras */
    }

    /* Estilos para los botones */
    .social-button {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agregado box-shadow */
      font-family: Arial, sans-serif;
      margin: 5px;
    }

    /* Estilos para el icono */
    .social-button i {
      margin-right: 10px;
      font-size: 20px;
    }

    /* Estilos para el botón de Telegram */
    .telegram-button {
      background-color: #1E90FF; /* Color celeste */
      color: white;
    }

    /* Estilos para el botón de Discord */
    .discord-button {
      background-color: #7289DA; /* Color de Discord */
      color: white;
    }

    /* Cambiar color al pasar el mouse y agregar sombra */
    .social-button:hover {
      background-color: #1874CD; /* Cambiar el tono del color al pasar el mouse */
      box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); /* Agregada sombra gris */
    }

    /* Estilos para el tooltip */
    .social-button:hover::before {
      content: attr(data-tooltip);
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      bottom: 110%; /* Ubicación del tooltip con respecto al botón */
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .social-button:hover::before {
      opacity: 1;
      visibility: visible;
    }
